.error-heading {
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 400;
  line-height: 117px;
  letter-spacing: 0;
  color: #004A94;
}

.error-sub-heading {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0;
  color: #000000;
}

.error-message {
  font-family: Montserrat;
  font-size: 18px;
  max-width: 50%;
  margin: auto;
}

.error-page {
  background-color: #f6f7f9;
}

.button {
  font-family: Montserrat;
  font-weight: 500;
  line-height: 18px;
  background-color: #004A94;
  border: #004A94;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}
