.global-filter{
    position: absolute;
    right: 63px;
    top: 29px;
}
.page-title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
  }

  .refresh-button {
    background-color: transparent;
    border: none;
    margin-top: -10px;
  }
  
.filter-button {
    border-radius: 20px;
    background-color: #07539e !important;
    color: #ffffff !important;
    height: 33px;
  }
  
  .filter-applied-icon {
    background-color: white;
    margin-left: -12px;
    padding: 0 3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #07539e;
    height: 33px;
  }
  
  .no-filter-text{
    font-size: 13px;
    color: red;
    float: right;
  }

  .last-refreshed ,.last-uploaded{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: #000;
    padding-left: 10px
  }
  
  .last-refreshed-time , .last-pos-time{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    color: #000;
  }
  
  .vertical-line {
    display: inline-block;
    height: 28px;
    background: #00539E;
    border: 1px solid #00539E
  }