<div class="mx-5">
  <ag-grid-angular
      class="ag-theme-alpine table-view"
      data-testid="mabl-tabular-view"
      [style.height]="(tableHeaders.length>7) ? '580px' : '565px'"
      [columnDefs]="tableHeaders"
      [defaultColDef]="defaultColDef"
      [localeText]="localeText"
      [rowData]="tableRows"
      [pagination]="tableRows?.length >= 10 "
      [paginationPageSize]=10
      [suppressDragLeaveHidesColumns]="true"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [autoGroupColumnDef]="autoGroupColumnDef"
      (cellClicked)="onCellClicked($event.data, $event.colDef.colId)"
  ></ag-grid-angular>
</div>

